.pet-setting {
  background-image: url(../../../static/img/vector.svg);
  background-size: 100% 100%;
  height: 1148.4px;
  min-width: 1920px;
  position: relative;
  width: 100%;
}

.pet-setting .rectangle {
  background-color: #ffffff;
  filter: blur(121.25px);
  height: 98.22%;
  left: 0;
  position: absolute;
  top: 0;
  width: 98.49%;
}

.pet-setting .element {
  height: 3.31%;
  left: 29.06%;
  position: absolute;
  top: 63.13%;
  width: 2.03%;
}

.pet-setting .frame {
  height: 35px;
  left: 1321px;
  position: absolute;
  top: 731px;
  width: 35px;
}

.pet-setting .img {
  height: 232px;
  left: 447px;
  position: absolute;
  top: 476px;
  width: 261px;
}

.pet-setting .frame-2 {
  height: 451px;
  left: calc(50% - 203px);
  position: absolute;
  top: 423px;
  width: 405px;
}

.pet-setting .turtle {
  height: 13.06%;
  left: 26.88%;
  position: absolute;
  top: 45.63%;
  width: 6.3%;
}

.pet-setting .frame-3 {
  height: 233px;
  left: 1209px;
  position: absolute;
  top: 476px;
  width: 260px;
}
