.component {
  position: relative;
}

.component .frame {
  align-items: center;
  align-self: stretch;
  background-color: #cccccc;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px 24px;
  position: relative;
  width: 100%;
}

.component .image {
  aspect-ratio: 0.69;
  height: 54px;
  object-fit: cover;
  position: relative;
  width: 37px;
}

.component .text-wrapper {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 54px;
  justify-content: center;
  letter-spacing: 1.60px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 164px;
}

.component .div {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 54px;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -5.00px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 15px;
}

.component .frame-2 {
  align-items: center;
  align-self: stretch;
  background-color: #dddddd;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}

.component .text-wrapper-2 {
  color: #000000;
  font-family: "Material Icons", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.component .text-wrapper-3 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 70px;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 204px;
}

.component .frame-3 {
  align-items: center;
  align-self: stretch;
  background-color: #dddddd;
  display: flex;
  flex: 0 0 auto;
  gap: 14px;
  padding: 24px 22px;
  position: relative;
  width: 100%;
}

.component .text-wrapper-4 {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 162px;
}

.component .text-wrapper-5 {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.component .frame-4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #c2c2c2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 595px;
  padding: 10px 12px;
  position: relative;
  width: 100%;
}

.component .frame-5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #e6e6e6;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px 12px;
  position: relative;
  width: 100%;
}

.component .img {
  aspect-ratio: 1;
  height: 17px;
  object-fit: cover;
  position: relative;
  width: 17px;
}

.component .text-wrapper-6 {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 176px;
}

.component .image-2 {
  aspect-ratio: 1;
  height: 18px;
  object-fit: cover;
  position: relative;
  width: 18px;
}

.component .text-wrapper-7 {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 180px;
}

.component .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #000000;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px 12px;
  position: relative;
  width: 100%;
}

.component .image-3 {
  aspect-ratio: 0.96;
  height: 18px;
  object-fit: cover;
  position: relative;
  width: 17px;
}

.component .text-wrapper-8 {
  color: #ffffff;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 180px;
}

.component .frame-7 {
  align-items: center;
  align-self: stretch;
  background-color: #b5b5b5;
  display: flex;
  gap: 10px;
  height: 51px;
  padding: 22px 25px;
  position: relative;
  width: 100%;
}

.component .text-wrapper-9 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 18px;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -4.50px;
  margin-top: -6.50px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 28px;
}

.component .text-wrapper-10 {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -5.00px;
  margin-top: -7.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.component .image-4 {
  aspect-ratio: 1;
  height: 26px;
  margin-bottom: -9.50px;
  margin-top: -9.50px;
  object-fit: cover;
  position: relative;
  width: 26px;
}

.component .frame-8 {
  align-items: center;
  align-self: stretch;
  background-color: #919191;
  display: flex;
  gap: 10px;
  height: 117px;
  padding: 22px 25px;
  position: relative;
  width: 100%;
}

.component .div-wrapper {
  background-color: #c6c6c6;
  height: 70px;
  position: relative;
  width: 70px;
}

.component .text-wrapper-11 {
  color: #000000;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.component .frame-9 {
  align-items: center;
  background-color: #aaaaaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 142px;
}

.component .text-wrapper-12 {
  color: #000000;
  font-family: "Nunito Sans", Helvetica;
  font-size: 14px;
  font-weight: 300;
  height: 33px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 132px;
}

.component .text-wrapper-13 {
  color: #000000;
  font-family: "Nunito Sans", Helvetica;
  font-size: 14px;
  font-weight: 300;
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 132px;
}

.component .text-wrapper-14 {
  color: #000000;
  font-family: "Nunito Sans", Helvetica;
  font-size: 10px;
  font-weight: 300;
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  width: 132px;
}

.component .vector {
  height: 26.83%;
  left: 40.93%;
  position: absolute;
  top: 35.98%;
  width: 2.48%;
}

.component .vector-2 {
  height: 26.83%;
  left: 57.06%;
  position: absolute;
  top: 35.98%;
  width: 2.48%;
}

.component .vector-3 {
  height: 26.83%;
  left: 74.42%;
  position: absolute;
  top: 35.98%;
  width: 2.48%;
}

.component.one {
  background-image: var(--union-bg-url, url(../../../public/static/img/union-2.svg));
  background-size: 100% 100%;
  height: 82px;
  left: 625px;
  top: 481px;
  width: 40px;
}

.component.sidebar-open {
  align-items: flex-start;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  height: 1024px;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 279px;
  position: fixed;
  z-index: 10;
}
