.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 485px;
  justify-content: flex-end;
  padding: 30px 46px;
  position: relative;
}

.card .div {
  aspect-ratio: 0.7;
  background-image: url(../../../static/img/background-2.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card .draggable {
  height: 2.31%;
  left: 39.76%;
  position: absolute;
  top: 4.63%;
  width: 18.28%;
}

.card .window-button {
  height: 268px;
  left: 32px;
  position: absolute;
  top: 49px;
  width: 268px;
}

.card .image {
  height: 100.00%;
  position: relative;
  width: 100.00%;
}

.card .window {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card .group {
  align-items: flex-start;
  background-image: url(../../../static/img/vector-7.svg);
  background-size: 100% 100%;
  display: flex;
  height: 100%;
  left: 0;
  min-width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
}

.card .group-wrapper {
  display: flex;
  height: 268px;
  width: 268px;
}

.card .group-2 {
  background-image: url(../../../static/img/vector-8.svg);
  background-size: 100% 100%;
  flex: 1;
  mix-blend-mode: screen;
  opacity: 0.45;
  width: 268.24px;
}

.card .vector {
  height: 88.22%;
  left: 5.94%;
  position: absolute;
  top: 5.89%;
  width: 88.22%;
}

.card .clip-path-group {
  height: 88.22% !important;
  left: 5.89% !important;
  position: absolute !important;
  top: 5.89% !important;
  width: 88.22% !important;
}

.card .ellipse {
  border: 3px solid;
  border-color: #c5c5c5;
  border-radius: 135.5px;
  box-shadow: 0px 0px 10.4px 1px #00000040;
  height: 101.03%;
  left: calc(50.00% - 135px);
  position: absolute;
  top: 0;
  width: 271px;
}

.card .buttons {
  height: 100px;
  position: relative;
  width: 240px;
}

.card .home-button {
  height: 99px;
  left: 160px;
  position: absolute;
  top: 19px;
  width: 88px;
}

.card .clean-button {
  height: 135px;
  left: calc(50.00% - 49px);
  position: absolute;
  top: 0;
  width: 96px;
}

.card .details-button {
  height: 99px;
  left: -10px;
  position: absolute;
  top: 18px;
  width: 88px;
}
